/* override stupid setting in ala buttons.css */
button[type=button] {
    padding: 3px 8px 3px 7px !important;
}

button[disabled=disabled] {
    opacity: 0.5;
}

td {
    text-align: left;
}

.hint {
    font-size: 1.1em;
    padding-bottom: 0;
    width: 390px;
    float: left;
}

#submit {
    margin-left: 80px;
    font-size: 1.6em;
    color: #333A3F;
    padding: 8px 16px !important;
}

.left {
    float: left;
}

.right {
    display: inline;
    float: right;
}

.smartspinner {
    height: 15px;
}

#undoTaxon {
    margin-left: 5px;
}

section.sightings-block button {
    font-weight: normal;
}

.preview img {
    max-height: 80px;
    max-width: 80px;
}

.summary {
    margin-bottom: 10px;
}

.scientificName {
    font-style: italic;
    font-size: 1.4em;
    font-weight: bold;
}

section.sightings-block .commonName {
    font-size: 1.2em;
    padding-left: 25px;
}

div.heading {
    float: left;
    vertical-align: middle;
    background-color: white;
    /*background-color: #f5f5f5;*/
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin-top: 30px;
    clear: both;
}

div.heading h2 {
    display: none;
}

div.heading img {
    vertical-align: middle;
}

section.sightings-block p {
    padding-bottom: 5px;
}

section.sightings-block {
    float: left;
    vertical-align: middle;
    width: 90%;
    min-height: 80px;
    border: 3px solid #ccc;
    padding: 5px 5px 5px 15px;
    background-color: white;
    float: left;
    margin: 20px 0 0 0;
    position: relative;
}

div.summary {
    margin-top: 10px;
}

img.taxon-image {
    float: right;
    max-height: 100px;
    max-width: 100px;
}

label {
    padding-right: 10px;
    font-weight: bold;
}

label.minor {
    font-weight: normal;
}

.help {
    cursor: pointer;
}

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; }

/* TimeEntry styles */
.timeEntry_control {
    vertical-align: middle;
    margin-left: 2px;
}
* html .timeEntry_control { /* IE only */
    margin-top: -4px;
}
#time {
    padding: 1px;
    margin: 2px;
}
#time-hours, #time-minutes {
    width: 18px;
    text-align:center;
}

/* where */
#location-container {
    width: 300px;
}

#location {
    width: 255px;
    height: 80px;
}

#symbol {
    padding-top: 28px;
    padding-left: 12px;
}

span.symbol {
    font-size: 2em;
    vertical-align: top;
    cursor: pointer;
}

img.lookup {
    cursor: pointer;
    padding-top: 4px;
}

img.lookup-off {
    opacity: 0.5;
}

#main-map-container {
    margin-top: 10px;
    float: left;
}

#map-sidebar {
    float: left;
    padding: 10px 0 0 10px;
}

#map-sidebar button {
    margin: 2px;
    display: block;
}

#coordinate-container {
    margin-left:-5px;
    padding-top: 10px;
}

#main-map-link {
    position: absolute;
    top: 160px;
    left: 590px;
}

/* small map */

#small-map-container {
    padding: 10px 10px 0 0;
}

#small-map {
    width: 160px;
    height: 160px;
}

/* main map */
#main-map {
    width: 600px;
    height: 500px;
    margin: 0 0 10px 34px;
}

.off-screen {
    /*position: relative;*/
    /*left: -10000px;*/
}

/* media */
#filesTable {
    margin-bottom: 0;
    clear: both;
}

#filesTable td {
    text-align: center;
}

#filesTable td.imageDate {
    margin-left: 20px;
    min-width: 220px;
}

#filesTable td.imageLocation {
    margin-left: 20px;
    min-width: 220px;
}

#addImageButtonLarge {
    margin-top: 12px;
}

#addImageButtonSmall {
    /*margin-left: -20px;*/
}

#autoUseContainer {
    float: right;
    padding-top: 4px;
    color: #666;
}

#autoUseContainer label {
    font-weight: normal;
}

.span5 {
    width: auto !important; /* override blueimp width limit */
}

/* dialogs */
.noTitle .ui-dialog-titlebar { display: none; }

.ui-dialog-titlebar {
    background-color: transparent;
    background-image: none;
}

.ui-dialog-title {
    color: #b0361a;
    font-family:"Arial Narrow", Arial, Helvetica,sans-serif;
    font-weight: normal;
    font-size: 1.6em;
}

/* bookmarks */
#locationBookmarks {
    max-width: 295px;
    display: block;
    margin-bottom: 8px;
}

div {
    text-align: left;
    /*background-color: #f0f0e8;*/
}

#bookmarksList {
    list-style: none;
    text-align: left;
    margin-left: 0;
}

#bookmarksList li img {
    padding-right: 10px;
    vertical-align: -1px;
}

.dialog > h3 {
    color: #b0361a;
}

.dialog button {
    font-size: .9em;
}

.ui-dialog-buttonset button {
    font-size: 0.9em;
    padding: 4px 8px 3px 7px;
}

button.small {
    padding: 4px 8px 3px 7px;
    font-weight: normal;
}

.mild { color: #606060; }

.ui-effects-transfer { border: 2px dotted gray; }

/* view records */
#mySightings {
    padding: 10px 0;
}

section.record {
    margin-left: 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

div.media {
    width: 102px;
    display: inline-block;
    vertical-align: middle;
}
div.what {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.when {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.where {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.actions {
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}

.actions img {
    padding-top: 4px;
}

.last-updated, .created {
    color: #777;
}

/** for multi-image upload table **/
#multiFilesTable td.identification {
    text-align: left;
}

#multiFilesTable {
    margin-bottom: 0;
    clear: both;
}

#multiFilesTable td {
    text-align: left;
    vertical-align: middle;
    padding-right: 15px;
}

#multiFilesTable td.imageDate {
    margin-left: 20px;
    min-width: 120px;
}

#multiFilesTable td.imageLocation {
    margin-left: 20px;
    min-width: 120px;
}

#addImageButton {
    float: left;
    margin: 3px 20px 3px 5px;
}

#submitImagesButton {
    float: left;
    margin: 3px 0 3px 15px;
}

#intro-text {
    font-size: 1.2em;
    width: 650px;
    float: left;
}

tr.record {
    min-height: 150px;
}

#sortControls {
    background-color: #e3e3e3;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
    padding-left: 15px;
    height: 35px;
}

#sortControls div {
    padding-top: 6px;
}

div.sort {
    font-weight: normal !important;
    display: inline-block;
}

div.sort label {
    font-weight: normal !important;
    padding-right: 0;
}

#sortOrder {
    padding-top: 0 !important;
    display: inline;
    position: relative;
}

#sort-asc {
    position: relative;
    top: -6px;
    left: 0;
    cursor: pointer;
}

#sort-desc {
    position: relative;
    top: 2px;
    left: -10px;
    cursor: pointer;
}

.whereTitle {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
